html, body, div, ul, p {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body, .wrapper {
    background-color: #ffe;
}

.loading {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: #FF6766 url(../images/running.gif) no-repeat center;
    animation: bounceOut 0.5s ease 1s;
    -webkit-animation: bounceOut 0.5s ease;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;

    background-size: 50%;
}

.loading.running {
    animation-play-state: running;
    -webkit-animation-play-state: running;
}

@keyframes bounceOut {
    to {
        background-size: 100%;
        opacity: 0;
    }
}

@-webkit-keyframes bounceOut {
    to {
        background-size: 100%;
        opacity: 0;
    }
}

.wrapper {
    /*overflow: hidden;*/
}

.wrapper, .wrapper > div {
    height: 100%;
    overflow: hidden;
}

.wrapper > div {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.wrapper .welcome .circle {
    width: 100%;
    height: 50%;
    position: relative;
    background-image: url(../images/f/ring.png);
    background-size: 100%;
    background-position: 2px 6px;
    background-repeat: no-repeat;
}

.circle > div {
    width: 3rem;
    height: 3rem;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0;
}

.circle div.img-1 {
    background-image: url(../images/f/f1.png);
}

.circle div.img-2 {
    background-image: url(../images/f/f2.png);
}

.circle div.img-3 {
    background-image: url(../images/f/f3.png);
}

.circle div.img-4 {
    background-image: url(../images/f/f4.png);
}

.circle div.img-5 {
    background-image: url(../images/f/f5.png);
}

.circle div.img-6 {
    background-image: url(../images/f/f6.png);
}

.circle div.img-7 {
    background-image: url(../images/f/f7.png);
}

.circle div.img-8 {
    background-image: url(../images/f/f8.png);
}

.circle div.img-9 {
    background-image: url(../images/f/f9.png);
}

.circle div.img-10 {
    background-image: url(../images/f/f10.png);
}

.circle div.img-11 {
    background-image: url(../images/f/f11.png);
}

.circle div.img-12 {
    background-image: url(../images/f/f12.png);
}

.circle div.img-13 {
    background-image: url(../images/f/f13.png);
}

.circle div.img-14 {
    background-image: url(../images/f/f14.png);
}

.circle div.img-15 {
    background-image: url(../images/f/f15.png);
}

.circle div.img-16 {
    background-image: url(../images/f/f6.png);
}

.circle div.img-17 {
    background-image: url(../images/f/f17.png);
}

.circle div.img-18 {
    background-image: url(../images/f/f18.png);
}

.circle div.img-19 {
    background-image: url(../images/f/f19.png);
}

.circle div.img-20 {
    background-image: url(../images/f/f20.png);
}

.circle div.img-21 {
    background-image: url(../images/f/f21.png);
}

.circle div.img-22 {
    background-image: url(../images/f/f22.png);
}

.font-it,
.font-it > * {
    font-family: "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New", "sans-serif";
}

.wrapper .welcome .words {
    padding: 0 2rem;

    text-align: center;
    line-height: 50px;
}

.hide {
    display: none;
}

div.bloom {
    opacity: 1;
    animation: bloom .5s linear;
    -webkit-animation: bloom .5s linear;
}

@keyframes bloom {
    from {
        background-size: 0;
    }

}

@-webkit-keyframes bloom {
    from {
        background-size: 0;
    }

}

#timing-being-together {
    position: absolute;
    text-align: center;
    width: 100%;
}

#timing-being-together .value {
    font-size: 1.5rem;
}

#timing-being-together .unit:after {
    font-size: 0.8rem;
}

#timing-being-together .unit.day:after {
    content: '天';
}

#timing-being-together .unit.hour:after {
    content: '小时';
}

#timing-being-together .unit.minute:after {
    content: '分';
}

#timing-being-together .unit.second:after {
    content: '秒';
}

.wrapper .flip-0-90 {
    transform: rotateY(90deg);
    animation: flip-0-90 0.5s linear;
}

.wrapper .flip-90-0 {
    transform: rotateX(0deg);
    animation: flip-90-0 0.5s linear;
}

.rotateY-90 {
    transform: rotateY(-90deg);
}

@keyframes flip-0-90 {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(90deg);
    }
}

@keyframes flip-90-0 {
    from {
        transform: rotateY(90deg);
    }
    to {
        transform: rotateY(0deg);
    }
}

.wrapper .love-story {
    word-wrap: break-word;
}

.wrapper .album li:nth-child(1) {
    -webkit-transform: rotateZ(-1.5deg);
    transform: rotateZ(-1.5deg);
}

.wrapper .album li:nth-child(2) {
    -webkit-transform: rotateZ(-1deg);
    transform: rotateZ(-1deg);
}

.wrapper .album li:nth-child(3) {
    -webkit-transform: rotateZ(-0.5deg);
    transform: rotateZ(-0.5deg);
}

.wrapper .album li:nth-child(4) {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
}

.wrapper .album li:nth-child(5) {
    -webkit-transform: rotateZ(0.5deg);
    transform: rotateZ(0.5deg);
}

.wrapper .album li:nth-child(6) {
    -webkit-transform: rotateZ(1deg);
    transform: rotateZ(1deg);
}

.wrapper .album li:nth-child(7) {
    -webkit-transform: rotateZ(1.5deg);
    transform: rotateZ(1.5deg);
}

.wrapper .album li:nth-child(8) {
    -webkit-transform: rotateZ(2deg);
    transform: rotateZ(2deg);
}

.wrapper .album li:nth-child(9) {
    -webkit-transform: rotateZ(2.5deg);
    transform: rotateZ(2.5deg);
}

.wrapper .album li:nth-child(10) {
    -webkit-transform: rotateZ(3deg);
    transform: rotateZ(3deg);
}

.wrapper .album li:nth-child(11) {
    -webkit-transform: rotateZ(3.5deg);
    transform: rotateZ(3.5deg);
}

.wrapper .album li:nth-child(12) {
    -webkit-transform: rotateZ(4deg);
    transform: rotateZ(4deg);
}

.wrapper .album li:nth-child(13) {
    -webkit-transform: rotateZ(4.5deg);
    transform: rotateZ(4.5deg);
}

.wrapper .album li:nth-child(14) {
    -webkit-transform: rotateZ(5deg);
    transform: rotateZ(5deg);
}

.wrapper .album li:nth-child(15) {
    -webkit-transform: rotateZ(5.5deg);
    transform: rotateZ(5.5deg);
}

.wrapper .album li:nth-child(16) {
    -webkit-transform: rotateZ(6deg);
    transform: rotateZ(6deg);
}

.wrapper .album li:nth-child(17) {
    -webkit-transform: rotateZ(6.5deg);
    transform: rotateZ(6.5deg);
}

/* album animation */

.wrapper .album ul {
    list-style: none;
    position: relative;
    height: 100%;
}

.wrapper .album li {
    border-radius: 1rem;
    background-color: #FFF;
    text-align: center;
    box-shadow: 0 0 1px #BBBBBB;
    position: absolute;
    left: 2%;
    right: 2%;
    top: 2rem;
}

.wrapper .album li {
    opacity: 1;
}

.wrapper .album li img {
    margin-top: 5%;
    border-radius: 4px;
    width: 90%;
    user-select: none;
    -webkit-user-select: none;
}

ul#album-ul {
    display: none;
}

ul#album-ul.photo-in {
    display: block;
}

@keyframes photosIn {
    from {
        transform: scale(0.001);
    }
}

@media screen and (max-height: 480px) {
    .wrapper .album li {
        left: 10%;
        right: 10%;
        top: 10px;
    }

    .wrapper .album li img {
        width: 75%;
    }
}

.wrapper .album li p {

    width: 100%;
    text-align: center;
    background-color: #FFF;
    font-family: "MicroSoft YaHei", serif;
    border-radius: 0 0 1rem 1rem;
    padding: 1rem 0;
    font-size: 100%;
}

.bg-pink {
    background-color: #FFB6C1;
}

.rotateZ5 {
    -webkit-transform: rotateZ(5deg);
    -moz-transform: rotateZ(5deg);
    -ms-transform: rotateZ(5deg);
    -o-transform: rotateZ(5deg);
    transform: rotateZ(5deg);
}

.rotateZ-5 {
    -webkit-transform: rotateZ(-5deg);
    -moz-transform: rotateZ(-5deg);
    -ms-transform: rotateZ(-5deg);
    -o-transform: rotateZ(-5deg);
    transform: rotateZ(-5deg);
}

#album-ul.photo-in.bg-pink li.photo-out {
    -webkit-animation: photoOut 1s ease-in-out;
    animation: photoOut 1s ease-in-out;
}

@keyframes photoOut {
    to {
        transform: scale(2);
        opacity: 0;
    }
}

@-webkit-keyframes photoOut {
    to {
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes photoIn {
    from {
        transform: scale(2);
        opacity: 0;
    }
}

@-webkit-keyframes photoIn {
    from {
        transform: scale(2);
        opacity: 0;
    }
}

#album-ul.photo-in li:nth-child(1) {
    animation: photosIn 0.5s ease-in-out 0.0s;
    -webkit-animation: photosIn 0.5s ease-in-out 0.0s;
    animation-fill-mode: backwards;
}

#album-ul.photo-in li:nth-child(2) {
    animation: photosIn 0.5s ease-in-out 0.1s;
    -webkit-animation: photosIn 0.5s ease-in-out 0.1s;
    animation-fill-mode: backwards;
}

#album-ul.photo-in li:nth-child(3) {
    animation: photosIn 0.5s ease-in-out 0.1s;
    -webkit-animation: photosIn 0.5s ease-in-out 0.1s;
    animation-fill-mode: backwards;
}

#album-ul.photo-in li:nth-child(4) {
    animation: photosIn 0.5s ease-in-out 0.2s;
    -webkit-animation: photosIn 0.5s ease-in-out 0.2s;
    animation-fill-mode: backwards;
}

#album-ul.photo-in li:nth-child(5) {
    animation: photosIn 0.5s ease-in-out 0.2s;
    -webkit-animation: photosIn 0.5s ease-in-out 0.2s;
    animation-fill-mode: backwards;
}

#album-ul.photo-in li:nth-child(6) {
    animation: photosIn 0.5s ease-in-out 0.3s;
    -webkit-animation: photosIn 0.5s ease-in-out 0.3s;
    animation-fill-mode: backwards;
}

#album-ul.photo-in li:nth-child(7) {
    animation: photosIn 0.5s ease-in-out 0.3s;
    -webkit-animation: photosIn 0.5s ease-in-out 0.3s;
    animation-fill-mode: backwards;
}

#album-ul.photo-in li:nth-child(8) {
    animation: photosIn 0.5s ease-in-out 0.4s;
    -webkit-animation: photosIn 0.5s ease-in-out 0.4s;
    animation-fill-mode: backwards;
}

#album-ul.photo-in li:nth-child(9) {
    animation: photosIn 0.5s ease-in-out 0.4s;
    -webkit-animation: photosIn 0.5s ease-in-out 0.4s;
    animation-fill-mode: backwards;
}

#album-ul.photo-in li:nth-child(10) {
    animation: photosIn 0.5s ease-in-out 0.5s;
    -webkit-animation: photosIn 0.5s ease-in-out 0.5s;
    animation-fill-mode: backwards;
}

#album-ul.photo-in li:nth-child(11) {
    animation: photosIn 0.5s ease-in-out 0.5s;
    -webkit-animation: photosIn 0.5s ease-in-out 0.5s;
    animation-fill-mode: backwards;
}

#album-ul.photo-in li:nth-child(12) {
    animation: photosIn 0.5s ease-in-out 0.6s;
    -webkit-animation: photosIn 0.5s ease-in-out 0.6s;
    animation-fill-mode: backwards;
}

#album-ul.photo-in li:nth-child(13) {
    animation: photosIn 0.5s ease-in-out 0.6s;
    -webkit-animation: photosIn 0.5s ease-in-out 0.6s;
    animation-fill-mode: backwards;
}

#album-ul.photo-in li:nth-child(14) {
    animation: photosIn 0.5s ease-in-out 0.7s;
    -webkit-animation: photosIn 0.5s ease-in-out 0.7s;
    animation-fill-mode: backwards;
}

#album-ul.photo-in li:nth-child(15) {
    animation: photosIn 0.5s ease-in-out 0.7s;
    -webkit-animation: photosIn 0.5s ease-in-out 0.7s;
    animation-fill-mode: backwards;
}

#album-ul.photo-in li:nth-child(16) {
    animation: photosIn 0.5s ease-in-out 0.8s;
    -webkit-animation: photosIn 0.5s ease-in-out 0.8s;
    animation-fill-mode: backwards;
}

#album-ul.photo-in li:nth-child(17) {
    animation: photosIn 0.5s ease-in-out 0.8s;
    -webkit-animation: photosIn 0.5s ease-in-out 0.8s;
    animation-fill-mode: backwards;
}