html, body, div, ul, p {
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: "Consolas", "MicroSoft YaHei", "Monaco", "Bitstream Vera Sans Mono", "Courier New", "sans-serif";
    text-align: center;
    background-color: #ffe;
}

body > .container {
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 800px;
    position: relative;
    display: inline-block;
    text-align: left;
}

#stage-in {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FFFFEE;
    z-index: 101;
}

#stage-in > div {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}

#stage-in canvas {
    width: 100%;
    height: 100%;
}

#stage-in.running {
    animation: bounceOut 0.5s ease 1s;
    -webkit-animation: bounceOut 0.5s ease;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

@keyframes bounceOut {
    to {
        transform: scale(2);
        opacity: 0;
    }
}

@-webkit-keyframes bounceOut {
    to {
        background-size: 100%;
        opacity: 0;
    }
}

#wrapper-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

#wrapper-mask.active {
    z-index: 1;
}

.wrapper {
    perspective: 500px;
    -webkit-perspective: 500px;
}

.wrapper, .wrapper > div {
    height: 100%;
}

.wrapper .welcome .circle {
    width: 100%;
    height: 50%;
    position: relative;
    background: url(http://7xqb7r.com1.z0.glb.clouddn.com/images/inviting/ring.png) no-repeat 2px 6px;
    background-size: 100%;
}

.wrapper .welcome .words {
    padding: 0 2rem;
    text-align: center;
}

.hide {
    display: none;
}

.invisible {
    opacity: 0;
}

#timing-to-marriage {
    position: absolute;
    text-align: center;
    width: 100%;
}

#timing-to-marriage > .prefix > b {
    font-size: 1.2rem;
}

#timing-to-marriage .value {
    font-size: 1.5rem;
}

#timing-love-story {
    color: #FF5555;
}

.font-0 {
    font-size: 0;
}

.value {
    font-size: 1rem;
}

.unit:after {
    margin-right: 4px;
}
.unit:after {
    font-size: 0.6rem;
}

.unit.year:after {
    content: '年';
}

.unit.month:after {
    content: '月';
}

.unit.day:after {
    content: '天';
}

.unit.hour:after {
    content: '小时';
}

.unit.minute:after {
    content: '分';
}

.unit.second:after {
    content: '秒';
}

.wrapper .love-story > div > span,
.wrapper .love-story > div > div {
    opacity: 0;
}
.wrapper .love-story .title {
    display: block;
    line-height: 60px;
    font-weight:bolder;
    text-align: center;
    font-size: 1.2rem;
}
.wrapper .love-story > div {
    padding-top: 10px;
}

.wrapper .love-story > div,
.wrapper .invitation > div {
    word-wrap: break-word;
    word-break: break-all;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

/* album animation */

.wrapper .album {
    text-align: center;
    overflow: hidden;
}

.wrapper .album > div {
    width: 95%;
    height: 95%;
    position: relative;
    top: 0;
    left: 0;
    transform: rotateZ(10deg);
    -webkit-transform: rotateZ(10deg);
    box-shadow: 0 0 50px #808080;
    margin: 0 auto;
    background-color: white;
}

.wrapper .album > div .mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
}

.start {
    position: absolute;
    width: 120px;
    height: 120px;
    background: url(http://7xqb7r.com1.z0.glb.clouddn.com/images/inviting/flowers.png) -402px -270px no-repeat;
    left: 50%;
    top: 50%;
    margin-left: -60px;
    margin-top: -60px;
}

.wrapper .album > div .words {
    padding: 20px;
}

.wrapper .album > div .cover {
    width: 90%;
    height: 80%;
    margin: 0 auto;
    background: url(http://7xqb7r.com1.z0.glb.clouddn.com/images/inviting/9.jpg) no-repeat center center;
    background-size: 100%;
    position: relative;
}

.wrapper .album ul {
    list-style: none;
    position: relative;
    height: 100%;
}

.wrapper .album li {
    border-radius: 1rem;
    background-color: #FFF;
    text-align: center;
    box-shadow: 0 0 1px #BBBBBB;
    position: absolute;
    left: 5%;
    right: 5%;
    top: 2rem;
}

.wrapper .album li {
    opacity: 1;
}

body {
    user-select: none;
    -webkit-user-select: none;
}

.wrapper .album li img {
    margin-top: 5%;
    border-radius: 4px;
    width: 90%;
}

ul#album-ul {
    display: none;
}

ul#album-ul.photo-in {
    display: block;
}

@media screen and (max-height: 480px) {
    .wrapper .album li {
        left: 10%;
        right: 10%;
        top: 10px;
    }

    .wrapper .album li img {
        width: 75%;
    }
}

.wrapper .album li p {
    width: 100%;
    text-align: center;
    background-color: #FFF;
    font-family: "MicroSoft YaHei", serif;
    border-radius: 0 0 1rem 1rem;
    padding: 1rem 0;
    font-size: 100%;
}

.bg-pink {
    background-color: #FFB6C1;
}

#album-ul.photo-in.bg-pink li.photo-out {
    -webkit-animation: photoOut 1s ease-in;
    animation: photoOut 1s ease-in;
}

@keyframes photoOut {
    to {
        transform: scale(2);
        opacity: 0;
    }
}

@-webkit-keyframes photoOut {
    to {
        -webkit-transform: scale(2);
        opacity: 0;
    }
}

@keyframes photoIn {
    from {
        transform: scale(2);
        opacity: 0;
    }
}

@-webkit-keyframes photoIn {
    from {
        -webkit-transform: scale(2);
        opacity: 0;
    }
}

#album-ul.photo-in li {
    animation-fill-mode: both !important;
    -webkit-animation-fill-mode: both !important;
}

#touch-us {
    height: 3rem;
    width: 3rem;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    box-shadow: 0 0 10px black;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 100;
    display: block;
}

#touch-us.plan-b {
    width: 100%;
    left: 0;
    right: auto;
    box-shadow: none;
    overflow: visible;
    border-radius: 0;
}

#touch-us > div {
    width: 100%;
    height: 100%;
    animation-fill-mode: forwards !important;
    -webkit-animation-fill-mode: forwards !important;
}

#touch-us > div > div {
    position: relative;
    top: 0;
    right: 0;
    width: 50%;
    height: 95%;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    background-position-y: bottom;
    animation-fill-mode: forwards !important;
    -webkit-animation-fill-mode: forwards !important;
}

#touch-us .her {
    background-image: url(http://7xqb7r.com1.z0.glb.clouddn.com/images/inviting/her.png);
    /*background-image: url(../images/her_white.png);*/
}

#touch-us .me {
    background-image: url(http://7xqb7r.com1.z0.glb.clouddn.com/images/inviting/me.png);
    /*background-image: url(../images/me_white.png);*/
}

#cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    display: none;
    z-index: 1;
}

.kiss #cover {
    display: block;
    animation: fadeIn 0.5s linear;
    -webkit-animation: fadeIn 0.5s linear;
}

#items {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#items > div {
    opacity: 0;
}

.kiss #items {
    z-index: 2;
}

#menu {
    width: 100%;
    height: 100%;
    top: 0;
}

#menu.kiss {
    position: absolute;
}

#menu #bubble canvas {
    position: absolute;
    width: 10%;
    z-index: 2;
    margin-top: -6.5rem;
    margin-left: -4.5rem;
}

#items > div {
    width: 150px;
    height: 100px;
    background: url(http://7xqb7r.com1.z0.glb.clouddn.com/images/inviting/25.png) no-repeat;
    background-size: 100%;
    text-align: center;
    line-height: 100px;
    display: inline-block;
    position: relative;
    margin-bottom: 1rem;
}

#items > div:nth-child(1) {
    transform: rotateZ(-10deg) translateZ(0);
}

#items > div:nth-child(2) {
    transform: rotateZ(5deg) translateZ(0);
}

#items > div:nth-child(3) {
    transform: rotateZ(5deg) translateZ(0);
}

#items > div:nth-child(4) {
    transform: rotateZ(-15deg) translateZ(0);
}

#items > div:nth-child(even) {
    top: 3rem;
}

#menu.kiss.fade {
    -webkit-animation: menuFade 0.25s linear;
    animation: menuFade 0.25s linear;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

@keyframes menuFade {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(0);
    }
}

@-webkit-keyframes menuFade {
    0% {
        -webkit-transform: scale(1);
    }
    30% {
        -webkit-transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(0);
    }
}

#music {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2;
    border-radius: 50%;
    background: black url(http://7xqb7r.com1.z0.glb.clouddn.com/images/inviting/us_cd.png) no-repeat center center;
    background-size: 50%;
}

#love-movie .box {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

#love-movie .video {
    position: relative;
    top: 50%;
}

#love-movie .video img,
#love-movie .video video {
    position: absolute;
    width: 100%;
    height: 100%;
}

#love-movie .video > img.movie {
    width: 70%;
    left: 10%;
    bottom: 6%;
}

#love-movie .video > img.tv {
    width: 100%;
    z-index: 10;
}

.invitation p {
    padding: 10px;
}

#open-map {
    outline: none;
    width: 100%;
    border: none;
    height: 30px;
    line-height: 30px;
    background-color: #FF5C5C;
    color: white;
    box-shadow: inset 0px 1px 0px #FF5C5C, 0px 5px 0px 0px #B34444, 0px 10px 5px #999;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    text-align: center;
}

#open-map.active {
    top: 3px;
    box-shadow: inset 0px 1px 0px #FF5C5C, 0px 2px 0px 0px #B34444, 0px 5px 3px #999;
}

#map {
    height: 200px;
    margin-right: 1px;
}

.invitation > div > div {
    outline: none;
    border: none;
    background-color: #FF5C5C;
    color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    padding: 1px;
}

.font-xk {
    font-family: STXingkai, "MicroSoft YaHei", serif;
}