html, body, div, ul, p {
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body, .wrapper {
    background-color: #ffe;
}

body > .container {
    width: 100%;
    height: 100%;
    max-width: 800px;
}

.loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #FF6766 url(../images/running.gif) no-repeat center;
    background-size: 50%;
    z-index: 101;
}

.loading.running {
    animation: bounceOut 0.5s ease 1s;
    -webkit-animation: bounceOut 0.5s ease;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

@keyframes bounceOut {
    to {
        /*background-size: 100%;*/
        transform: scale(2);
        opacity: 0;
    }
}

@-webkit-keyframes bounceOut {
    to {
        background-size: 100%;
        opacity: 0;
    }
}

.wrapper {
    perspective: 500px;
    -webkit-perspective: 500px;
}

.wrapper, .wrapper > div {
    height: 100%;
}

.wrapper > div {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0 0 40px #BDBDBD;
}

.wrapper .welcome .circle {
    width: 100%;
    height: 50%;
    position: relative;
    background-image: url(../images/f/ring.png);
    background-size: 100%;
    background-position: 2px 6px;
    background-repeat: no-repeat;
}

.font-it,
.font-it > * {
    font-family: "Consolas", "MicroSoft YaHei", "Monaco", "Bitstream Vera Sans Mono", "Courier New", "sans-serif";
}

.wrapper .welcome .words {
    padding: 0 2rem;
    text-align: center;
    line-height: 50px;
}

.hide {
    display: none;
}

.invisible {
    opacity: 0;
}

#timing-being-together {
    position: absolute;
    text-align: center;
    width: 100%;
}

#timing-love-story .value,
#timing-being-together .value {
    font-size: 1.5rem;
}

#timing-love-story .unit:after,
#timing-being-together .unit:after {
    font-size: 0.8rem;
}

#timing-love-story .unit.year:after {
    content: '年';
}

#timing-love-story .unit.month:after {
    content: '月';
}

#timing-love-story .unit.day:after,
#timing-being-together .unit.day:after {
    content: '天';
}

#timing-being-together .unit.hour:after {
    content: '小时';
}

#timing-being-together .unit.minute:after {
    content: '分';
}

#timing-being-together .unit.second:after {
    content: '秒';
}


.wrapper .love-story > div {
    word-wrap: break-word;
    width: 100%;
    height: 100%;
}

/* album animation */

.wrapper .album{
    text-align: center;
    overflow: hidden;
}

.wrapper .album > img{
    width: 90%;
    position: relative;
    top: 0;
    left: 0;
    transform: rotateZ(10deg);
    -webkit-transform: rotateZ(10deg);
    box-shadow: 0 0 50px #808080;
}
.wrapper .album ul {
    list-style: none;
    position: relative;
    height: 100%;
}

.wrapper .album li {
    border-radius: 1rem;
    background-color: #FFF;
    text-align: center;
    box-shadow: 0 0 1px #BBBBBB;
    position: absolute;
    left: 5%;
    right: 5%;
    top: 2rem;
}

.wrapper .album li {
    opacity: 1;
}

body {
    user-select: none;
    -webkit-user-select: none;
}

.wrapper .album li img {
    margin-top: 5%;
    border-radius: 4px;
    width: 90%;
}

ul#album-ul {
    display: none;
}

ul#album-ul.photo-in {
    display: block;
}

@media screen and (max-height: 480px) {
    .wrapper .album li {
        left: 10%;
        right: 10%;
        top: 10px;
    }

    .wrapper .album li img {
        width: 75%;
    }
}

.wrapper .album li p {

    width: 100%;
    text-align: center;
    background-color: #FFF;
    font-family: "MicroSoft YaHei", serif;
    border-radius: 0 0 1rem 1rem;
    padding: 1rem 0;
    font-size: 100%;
}

.bg-pink {
    background-color: #FFB6C1;
}

#album-ul.photo-in.bg-pink li.photo-out {
    -webkit-animation: photoOut 1s ease-in;
    animation: photoOut 1s ease-in;
}

@keyframes photoOut {
    to {
        transform: scale(2);
        opacity: 0;
    }
}

@-webkit-keyframes photoOut {
    to {
        -webkit-transform: scale(2);
        opacity: 0;
    }
}

@keyframes photoIn {
    from {
        transform: scale(2);
        opacity: 0;
    }
}

@-webkit-keyframes photoIn {
    from {
        -webkit-transform: scale(2);
        opacity: 0;
    }
}

#album-ul.photo-in li {
    animation-fill-mode: both !important;
    -webkit-animation-fill-mode: both !important;
}

#touch-us {
    height: 4rem;
    width: 4rem;
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    /*border-radius: 10px;*/
    border-radius: 50%;
    box-shadow: 0 0 10px black;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 100;
}

#touch-us > div {
    width: 100%;
    height: 100%;
    animation-fill-mode: forwards !important;
    -webkit-animation-fill-mode: forwards !important;
}

#touch-us > div > div {
    /*transform: translateZ(0);*/
    position: relative;
    top: 0;
    right: 0;
    width: 50%;
    height: 95%;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    background-position-y: bottom;
    animation-fill-mode: forwards !important;
    -webkit-animation-fill-mode: forwards !important;
}

#touch-us .her {
    background-image: url(../images/her.png);
}

#touch-us .me {
    width: 50%;
    background-image: url(../images/me.png);
}

.kiss > #touch-us .her {
    -webkit-animation: herKiss 0.5s ease-out;
    animation: herKiss 0.5s ease-out;
}

.kiss > #touch-us .me {
    -webkit-animation: meKiss 0.5s ease-out;
    animation: meKiss 0.5s ease-out;
}

.kiss > #touch-us > div {
    -webkit-animation: zoomIn 0.5s ease-out;
    animation: zoomIn 0.5s ease-out;
}

@keyframes herKiss {
    to {
        transform: rotateZ(-10deg) translateZ(0) translateX(3px) translate3d(0, 0, 0);
    }
}

@-webkit-keyframes herKiss {
    to {
        -webkit-transform: rotateZ(-5deg) translateZ(0) translateX(3px) translate3d(0, 0, 0);
    }
}

@keyframes meKiss {
    to {
        transform: rotateZ(-10deg) translateZ(0) translateX(-3px);
    }
}

@-webkit-keyframes meKiss {
    to {
        -webkit-transform: rotateZ(-10deg) translateZ(0) translateX(-3px);
    }
}

#cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    display: none;
    z-index: 1;
}

.kiss #cover {
    display: block;
    animation: fadeIn 0.5s linear;
    -webkit-animation: fadeIn 0.5s linear;
}

#items {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#items > div {
    opacity: 0;
}

.kiss #items {
    z-index: 2;
}

#menu {
    width: 100%;
    height: 100%;
    top: 0;
}

#menu.kiss {
    position: absolute;
}

#menu #bubble canvas {
    position: absolute;
    width: 10%;
    z-index: 2;
    margin-top: -8.5rem;
    margin-left: -5.1rem;
}

#items > div {
    width: 150px;
    height: 100px;
    background: url(../images/bubbles/25.png) no-repeat;
    background-size: 100%;
    text-align: center;
    line-height: 100px;
    display: inline-block;
    position: relative;
    margin-bottom: 1rem;
}

#items > div:nth-child(1) {
    transform: rotateZ(-10deg) translateZ(0);
}

#items > div:nth-child(2) {
    transform: rotateZ(5deg) translateZ(0);
}

#items > div:nth-child(3) {
    transform: rotateZ(5deg) translateZ(0);
}

#items > div:nth-child(4) {
    transform: rotateZ(-15deg) translateZ(0);
}

#items > div:nth-child(even) {
    top: 3rem;
}

#menu.kiss.fade {
    -webkit-animation: menuFade 0.25s linear;
    animation: menuFade 0.25s linear;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

@keyframes menuFade {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(0);
    }
}

@-webkit-keyframes menuFade {
    0% {
        -webkit-transform: scale(1);
    }
    30% {
        -webkit-transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(0);
    }
}

#touch-us.touch-in {
    -webkit-animation: touchIn 0.5s ease-in-out;
    animation: touchIn 0.5s ease-in-out;
}

#music {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2;
    border-radius: 50%;
    background: black url(../images/us_cd.png) no-repeat center center;
    background-size: 50%;
}