<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Home</title>
    <!--<link rel="stylesheet" href="../css/base.css">-->
    <script>document.write('<link rel="stylesheet" href="../css/base1.css?t=' + (new Date).getTime() + '">')</script>
</head>
<body>
    <div class="loading"></div>
    <div id="container"></div>
    <div class="wrapper">
        <div class="welcome">
            <div class="heart"><img src="../images/flowers_ring.png" alt=""></div>
            <div class="words">
<pre style="-ms-word-break: break-all;word-break: break-all;">
    With this hand,I will lift your sorrows.

    Your cup will never empty,for I will be your wine.

    With this candle,I will light your way in darkness.

    With this ring, I ask you to be mine.
</pre>
            </div>
        </div>
    </div>
    <div id="menu"></div>
</body>
<!--<script src="../js/fk.js"></script>-->
<!--<script src="../js/zepto.js"></script>-->
<!--<script src="../js/esl/esl.js"></script>-->
<script src="../js/blur.js"></script>
<script>
    document.write('<script src="../js/base2.js?t=' + (new Date).getTime() + '"><\/script>');
</script>
</html>