<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Home</title>
    <!--<link rel="stylesheet" href="../css/base.css">-->
    <script>document.write('<link rel="stylesheet" href="../css/base.css?t=' + (new Date).getTime() + '">')</script>
</head>
<body>
    <div class="loading">
        <!--<img src="../images/best_wishes.png" alt="">-->
    </div>
    <div id="container" class="blur">
        <ul class="bg">
            <li class="a"></li>
            <li class="b hide"></li>
        </ul>
    </div>
    <div id="menu"></div>
</body>
<!--<script src="../js/fk.js"></script>-->
<!--<script src="../js/zepto.js"></script>-->
<!--<script src="../js/esl/esl.js"></script>-->
<script>
    document.write('<script src="../js/base.js?t=' + (new Date).getTime() + '"><\/script>');
</script>
</html>