<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../css/base.css">
</head>
<body>
    <div id="loading"></div>
    <div id="container" class="blur">
        <ul class="bg">
            <li class="a"></li>
            <li class="b hide"></li>
        </ul>
    </div>
    <div id="menu"></div>
</body>
<script src="../js/fk.js"></script>
<script src="../js/base.js"></script>
</html>