<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="screen-orientation" content="landscape"/>
    <title>Home</title>
    <!--<link rel="stylesheet" href="../css/base.css">-->
    <script>document.write('<link rel="stylesheet" href="../css/base.css?t=' + (new Date    ).getTime() + '">')</script>
</head>
<body>
<div class="loading"></div>
<div id="container"></div>
<div class="wrapper">
    <div class="welcome">
        <div class="circle" id="circle-flowers">
            <div class="img-1"></div>
            <div class="img-2"></div>
            <div class="img-3"></div>
            <div class="img-4"></div>
            <div class="img-5"></div>
            <div class="img-6"></div>
            <div class="img-7"></div>
            <div class="img-8"></div>
            <div class="img-9"></div>
            <div class="img-10"></div>
            <div class="img-11"></div>
            <div class="img-12"></div>
            <div class="img-13"></div>
            <div class="img-14"></div>
            <div class="img-15"></div>
            <div class="img-16"></div>
            <div class="img-17"></div>
            <div class="img-18"></div>
            <div class="img-19"></div>
            <div class="img-20"></div>
            <div class="img-21"></div>
            <div class="img-22"></div>
        </div>
        <div id="timing-being-together" class="hide font-it">
            <div class="prefix">We have been <b>together</b> for</div>
            <i class="value day">600</i><i class="unit day"></i>
            <i class="value hour">600</i><i class="unit hour"></i>
            <i class="value minute">600</i><i class="unit minute"></i>
            <i class="value second">600</i><i class="unit second"></i>
        </div>
        <div class="words hide font-it" id="votes">
            No measure of time<br>with you <br>will be long enough<br>but <br>let's start forever
        </div>
    </div>
    <div class="love-story rotateY-90 font-it">
        <pre>
You know when I said I knew litter about love?
Well,that wasn't true
I know a lot about love
I've seen it,I've seen it centuries and centuries of it
And it was the only thing that made watching you would bearable
All this wars,pain and lies,hate
Made me want to turn away and never look down again
But to see the way that mankind love
I mean,you could search the furthest reaches the universe and never find anything more beautiful
so,yes,I know that love is unconditional
But I also know it can be unpredictable,unexpected,uncontrollable,unbearable
and,well,strangely easy to mistake for loathing
And,what I'm trying to say is
I think I love you
My heart,it fells like my chest can barely contain it
Like it doesn't belong to me anymore,it belongs to you
And if you wanted it,I'd wish for nothing to exchange
No gifts,no goods,no demonstrations for devotion
Nothing but knowing you love me too
Just your heart
In exchange for mine
        </pre>
    </div>
    <div class="album">

    </div>
</div>
</body>
<script>
    document.write('<script src="../js/base.js?t=' + (new Date).getTime() + '"><\/script>');
</script>
</html>