<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <style>
        body, div {
            margin: 0;
        }

        html, body {
            height: 100%;
        }

        body {
            background-color: #FFFCD2;
            /*width: 100px;*/
            /*height: 100px;*/
        }
    </style>
</head>
<body>
<canvas></canvas>
<script>


    var myHeart = {
        tick: {},
        tickTime: {
            draw: 150
        },
        radius: 0,
        zero: {},
        currentXY: {},
        coordinate: function () {
            var radian = this.radian;
            var x = this.zero.x + this.radius * (16 * Math.pow(Math.sin(radian), 3));
            var y = this.zero.y - this.radius * (13 * Math.cos(radian) - 5 * Math.cos(2 * radian) - 2 * Math.cos(3 * radian) - Math.cos(4 * radian));

//            x = parseInt(x);
//            y = parseInt(y);

            this.radian += this.radianIncrement;

//            if (this.getDistance(x, y) < this.minDistance) {
//                return this.coordinate();
//            }
//
//            this.currentXY = {x: x, y: y}
            return this.currentXY;
        },
        minDistance: 35,
        getDistance: function (x, y) {
            $powed = Math.pow(x - this.currentXY.x,2) + Math.pow(y - this.currentXY.y,2);
            return Math.sqrt($powed);
        },
        radian: Math.PI,
        radianIncrement: Math.PI / 30 * 2,
        context: null,
        maxRadian: 3 * Math.PI,
        strokeStyle: function () {
            return 'red';
        },
        draw: function (canvas) {
            this.context = canvas.getContext('2d');
            this.context.beginPath();
            this.context.strokeStyle = '#FF7272';
            this.context.lineWidth = 2;

            var w = canvas.parentNode.clientWidth;
            canvas.width = w;
            canvas.height = w;
            var h = canvas.parentNode.clientHeight;
            canvas.height = h;
            this.zero = {x: w / 2, y: w / 2};
            this.radius = w / 40;

//            var initCoordinate = this.coordinate();
//            this.context.moveTo(initCoordinate.x, initCoordinate.y);

            var $this = this;
            var img = new Image();
            img.src = '../images/flowers/1.png';
            img.onload = function () {
//                $this.context.save();
//                var grd = $this.context.createRadialGradient(img.width/2, img.height/2, 0, img.width/2, img.height/2, img.width);
                var i = 0;
                var ctx = $this.context;
                var imgDrew = false;
                ctx.drawImage(img, 0, 0, 100, 100, 100, 100, 100, 100);
return ;
                var a = setInterval(function () {
//                    if (!imgDrew) {
////                        $this.context.drawImage(img, 0, 0, img.width, img.height);
//                    }
//                    if (i > 1) {
//                        return clearInterval(a);
//                    }
                    ctx.drawImage(img, 0, 0, 10, 10)//, img.width * (1 - i), img.height * (1 - i), img.width * i, img.height * i);
//                    ctx.drawImage(img, 0, 0, img.width * i, img.height * i)//, img.width * (1 - i), img.height * (1 - i), img.width * i, img.height * i);
//                    ctx.drawImage(img, 0, 0, img.width * i, img.height * i, img.width * (1 - i), img.height * (1 - i), img.width * i, img.height * i);
//                    grd = $this.context.createRadialGradient(img.width/2, img.height/2, 0, img.width/2, img.height/2, img.width);
//                    grd.addColorStop(0, 'rgba(0,0,0,0)');
//                    grd.addColorStop(i, 'rgba(0,0,0,1)');
//                    ctx.arc(img.width/2, img.height/2, img.width/2, 0, Math.PI * 2, true);
//                    ctx.fillStyle = grd;
//                    ctx.fill();
                    i += 0.1;
//                    return clearInterval(a);
                }, 100);
            }
        },
        registerLine: function () {
            var c = this.coordinate();
            this.context.lineTo(c.x, c.y);
            this.context.stroke();
        },
        bloom: function () {
            var $this = this;
            var img = new Image();
            var flowerNo = ((Math.random() * 2) + 1).toFixed();
            img.src = '../images/flowers/' + flowerNo + '.png';
            var scale = 0.2;
            var c = $this.coordinate();
            var dw = img.width * scale;
            var dh = img.height * scale;
            var dx = c.x - dw / 2;
            var dy = c.y - dh / 2;

            img.onload = function () {
//                dw
                setInterval(function () {
                    $this.context.drawImage(img, 0, 0, img.width, img.height, dx, dy, dw, dh);
                }, 100);
            };
        },
        bloom2: function () {
            var $this = this;
            var img = new Image();
            var flowerNo = ((Math.random() * 2) + 1).toFixed();
            img.src = '../images/flowers/' + flowerNo + '.png';
            var scale = 0.2;
            var c = $this.coordinate();
            var dw = img.width * scale;
            var dh = img.height * scale;
            var dx = c.x - dw / 2;
            var dy = c.y - dh / 2;

            img.onload = function () {
                $this.context.drawImage(img, 0, 0, img.width, img.height, dx, dy, dw, dh);
            };
        }

    };

    window.onload = function () {
        myHeart.draw(document.querySelector('canvas'));
    }
</script>
</body>
</html>